@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: 'Inter', sans-serif;
}

.gradient-border {
	position: relative;
}

.gradient-border::before {
	content: '';
	position: absolute;
	inset: 0;
	padding: 1px;
	background: linear-gradient(180deg, #2c2c2c, #000);
	-webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
	-webkit-mask-composite: xor;
	mask-composite: exclude;
	pointer-events: none;
}

.gradient-border-3 {
	position: relative;
}

.gradient-border-3::before {
	content: '';
	position: absolute;
	inset: 0;
	padding: 3px;
	background: linear-gradient(180deg, #2c2c2c, #000);
	-webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
	-webkit-mask-composite: xor;
	mask-composite: exclude;
	pointer-events: none;
}

.animated-line {
	animation: borderAnimation 2s infinite linear;
}

#form-subscription input {
	background: transparent !important;
	border: 1px solid rgba(255, 255, 255, 0.1) !important;
	color: #fff !important;
	border-radius: 6px !important;
}

#form-subscription input::placeholder {
	color: #7e808a !important;
}

#form-subscription button {
	background: #fff !important;
	padding-left: 24px !important;
	padding-right: 24px !important;
	color: #1c2024 !important;
	font-family: 'Inter' !important;
	font-weight: 400 !important;
}

#form-subscription input:focus {
	border: 1px solid rgba(255, 255, 255, 0.9) !important;
}

@keyframes borderAnimation {
	0% {
		left: 12px;
	}
	59% {
		left: 70%;
	}
	99.999% {
		left: calc(100% - 62px);
	}
	100% {
		left: 12px;
	}
}
