@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: 'Inter', sans-serif;
}

.gradient-border {
	position: relative;
}

.gradient-border::before {
	content: '';
	position: absolute;
	inset: 0;
	padding: 1px;
	background: linear-gradient(180deg, #2c2c2c, #000);
	-webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
	-webkit-mask-composite: xor;
	mask-composite: exclude;
	pointer-events: none;
}

.gradient-border-3 {
	position: relative;
}

.gradient-border-3::before {
	content: '';
	position: absolute;
	inset: 0;
	padding: 3px;
	background: linear-gradient(180deg, #2c2c2c, #000);
	-webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
	-webkit-mask-composite: xor;
	mask-composite: exclude;
	pointer-events: none;
}

.animated-line {
	animation: borderAnimation 2s infinite linear;
}

@keyframes borderAnimation {
	0% {
		left: 12px;
	}
	59% {
		left: 70%;
	}
	99.999% {
		left: calc(100% - 62px);
	}
	100% {
		left: 12px;
	}
}
